<header class="fixed top-0 left-0 right-0 p-4 m-4 rounded-lg bg-slate-700 text-slate-400">
  <nav class="flex justify-between">
    <button class="rounded-full p-3 text-slate-50 transition hover:bg-slate-600">
      <%= queue_icon %>
    </button>

    <div class="flex items-center gap-12">
      <button class="rounded-full p-3 text-slate-50 transition hover:bg-slate-600">
        <%= left_arrow_icon %>
      </button>

      <span class="text-slate-50"><%= exercise.name %></span>

      <button class="rounded-full p-3 text-slate-50 transition hover:bg-slate-600">
        <%= right_arrow_icon %>
      </button>
    </div>

    <%= button_to "#",
      class: "rounded-full p-3 transition enabled:hover:bg-slate-600 enabled:hover:text-slate-50 disabled:cursor-not-allowed disabled:opacity-50",
      disabled: !exercise.instructions_available? do %>
      <%= book_icon %>
    <% end %>
  </nav>
</header>
