<!DOCTYPE html>
<html>
  <head>
    <title>Workshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <style>
      <%= Rouge::Theme.find("github").render(scope: ".syntax") %>
    </style>

    <%= yield :head %>
  </head>

  <body class="bg-slate-200">
    <main>
      <%= yield %>
    </main>
  </body>
</html>
